@page "/AddBeautyTech"
@using Domain.Models
@rendermode InteractiveServer
<h5>Добавить мастера</h5>
<EditForm Model="_beautyTech" onvalidsubmit="@CreateAsync">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="row">
        <div class="ms-md-auto">
            <label>Имя</label>
            <InputText class="form-control" @bind-Value="_beautyTech.Name"></InputText>
        </div>
        <div class="ms-md-auto">
            <label>Номер телефона</label>
            <InputText class="form-control" @bind-Value="_beautyTech.PhoneNumber"></InputText>
        </div>
    </div>
    <div class="ms-md-auto">
        <label>Процедуры</label>

        @foreach (var sel in selectBoxes)
        {
            <div class="d-flex align-items-center gap-2 mb-2">
                <InputSelect class="form-select w-75" @bind-Value="sel.Id">
                    <option value="">-- выберите процедуру --</option>
                    @foreach (var p in procedures)
                    {
                        <option value="@p.Id">@p.Name</option>
                    }
                </InputSelect>

                <button type="button" class="btn btn-success" @onclick="AddSelectBox">+</button>

                <button type="button"
                        class="btn btn-danger"
                        disabled="@(selectBoxes.Count == 1)" 
                        @onclick="() => RemoveSelectBox(sel)">–</button>
            </div>
        }
    </div>
    <div class="ms-md-4 mt-1">
        <button type="submit" class="btn btn-primary btn-icon">
            <i class="bi bi-floppy"></i>
        </button>
        <a class="btn btn-info btn-icon" title="Back to list"
           href="/beautyTechs">
            <i class="bi bi-arrow-left-square"></i>
        </a>
    </div>
</EditForm>
