@page "/EditProcedure/{id:guid}"
@rendermode  InteractiveServer
<h5>EditProcedure</h5>
<EditForm Model="procedure" OnInvalidSubmit="EditAsync">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="row">
        <div class="ms-md-auto">
            <label>Procedure Name</label>
            <InputText class="form-control" @bind-Value="procedure.Name"></InputText>
        </div>
        <div class="ms-md-4 mt-1">
            <button type="submit" class="btn btn-primary btn-icon">
                <i class="bi bi-floppy"></i>
            </button>
            <a class="btn btn-info btn-icon" title="Back to list"
               href="/procedures">
                <i class="bi bi-arrow-left-square"></i>
            </a>
        </div>
    </div>
</EditForm>
