@page "/Procedures"
@rendermode InteractiveServer
<h5>Процедуры</h5>
    <a href="CreateProcedure"
       class="btn btn-primary btn-icon mt-3" title="Create">
        <i class="bi bi-plus-square"></i></a>
<div class="table-responsive-sm mt-3">
    <table class="table table-bordered table-hover">
        <thead>
        <th scope="col">№</th>
        <th scope="col">Название</th>
        <th scope="col"></th>
        </thead>
        <tbody>
        @foreach (var procedure in procedures)
        {
            <tr>
                <td>@Increment()</td>
                <td>@procedure.Name</td>
                <td>
                    <div class="d-flex gap-1">
                        <NavLink href="@($"EditProcedure/{procedure.Id}")" class="btn btn-primary btn-icon btn-sm">
                            <i class="bi bi-pencil-square"></i>
                        </NavLink>
                        <button type="button" class="btn btn-danger btn-icon btn-sm"
                                @onclick="() => DeleteAsync(procedure)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </div>
                </td>

            </tr>
        }
        </tbody>
    </table>
</div>
