@page "/Login"
@rendermode InteractiveServer
<h3>Login</h3>
<a href="/Registration">Sign up</a>
<EditForm Model="user" OnValidSubmit="LoginAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="col-md-4">
        <label class="mt-3">Login</label>
        <InputText class="form-control" @bind-Value="user.Email" />
    </div>
    <div class="col-md-4">
        <label>Password</label>
        <InputText type="password" class="form-control" @bind-Value="user.Password" />
    </div>
    <div class="col-auto mt-3">
        <button type="submit" class="btn btn-primary">Confirm identity</button>
    </div>
</EditForm>
@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger mt-3">@ErrorMessage</div>
}