@page "/Registration"
@rendermode InteractiveServer
<h5>Регистрация</h5>
<EditForm Model="user" OnValidSubmit="RegisterAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="ms-md-auto">
        <label class="mt-3">User name</label>
        <InputText class="form-control" @bind-Value="user.UserName" />
    </div>
    <div class="ms-md-auto">
        <label class="mt-3">Email</label>
        <InputText class="form-control" @bind-Value="user.Email" />
    </div>
    <div class="ms-md-auto">
        <label class="mt-3">First name</label>
        <InputText class="form-control" @bind-Value="user.FirstName" />
    </div>
    <div class="ms-md-auto">
        <label class="mt-3">Last name</label>
        <InputText class="form-control" @bind-Value="user.LastName" />
    </div>
    <div class="ms-md-auto">
        <label>Password</label>
        <InputText type="password" class="form-control" @bind-Value="user.Password" />
    </div>
    <div class="col-auto mt-1">
        <button type="submit" class="btn btn-primary">Подтвердить</button>
    </div>
</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger mt-3">@errorMessage</div>
}
else if(!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success mt-3">@successMessage</div>
}